CPA_BASE_URL=http://127.0.0.1:8317
CPA_MANAGEMENT_KEY=__REQUIRED__
CPA_PUBLIC_URL=http://127.0.0.1:8317
APP_PORT=18080
AUTH_ENABLED=true
LOGIN_PASSWORD=__REQUIRED__
WORK_DIR=../keeper
TZ=Asia/Shanghai
